body{
  width: 100%;
  height: 100vh;
	display: flex;
	align-items: center;
	flex-flow: column;
	margin: 0;
	background-color: #faba5c;
}
*{
	font-family: 	Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 25px;
}
.game-board{
	width: 1000px;
	height: 800px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 12px;
	padding: 12px;
}
.controllers{
	height: 100px;
	width: 1024px;
	display: grid;
	grid-template-rows: 12px 1fr 12px;
	grid-template-columns: 12px 1fr 1fr 1fr 1fr 12px;
}
.card{
	background-image: url(../images/penguin.jpg);
	border-radius: 5px;
	transition: all 0.1s linear;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
}
.animation:hover{
	transform: scale(1.05);
	transition: all 0.1s linear;
	cursor: pointer;
}
.start{
	color: white;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	background-image: url('../images/boromir.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.start div{
	font-size: 10vh;
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
.start button{
	margin-top: 60vh;
	width: 15vw;
	height: 14vh;
	font-size: 5vh;
}
button:hover{
	cursor: pointer;
	background-color: aquamarine;
}
.restart{
	grid-row: 2;
	grid-column: 2;
}
.in-game-menu{
	grid-row: 2;
	grid-column: 3;
}
.timer{
	grid-row: 2;
	grid-column: 5;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hide-start{
	display:none;
}
.end-screen{
	display: none;
	position: absolute;
	opacity: 0.7;
	color: white;
	background-color: black;
	width: 100vw;
	height: 100vh;
	text-align: center;
}
.rick-rolled{
	background-image: url(../images/rick-rolled.gif);
	background-repeat: no-repeat;
	background-size: cover;
}
.success{
	background-image: url(../images/success.gif);
	background-repeat: no-repeat;
	background-size: cover;
}
.winner{
	display: grid;
	justify-content: center;
	align-items: center;
}
.timer{

}
/*HIGH SCORE*/
.high-score-container{
	position: absolute;
	width: 50vw;
	height: 80vh;
	background-color: #faba5c;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	transition: all .5s ease;
}
.high-score{
	width: 40vw;
	height: 70vh;
	background-color: azure;
}
.high-score div {
	display: flex;
	justify-content:space-between;
}
.high-score div:nth-child(odd) {
    background: #d7ffff;
}
.high-score div p{
	margin: 2px;
}
.closed{
	transform: translateY(-80vh);
}
.hidden{
	display: none;
}


/*CARD DESIGN*/
.card1{
	background-image: url(../images/wonka.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.card2{
	background-image: url(../images/eyeing.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.card3{
	background-image: url(../images/girlfriend.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.card4{
	background-image: url(../images/good-guy-greg.png);
	background-size:cover;
	background-repeat: no-repeat;
}
.card5{
	background-image: url(../images/grandma.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.card6{
	background-image: url(../images/great.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.card7{
	background-image: url(../images/roll-safe.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.card8{
	background-image: url(../images/scumbag-steve.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.card9{
	background-image: url(../images/success-kid.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.card10{
	background-image: url(../images/bad-luck-brian.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
