body{
  width: 100%;
  height: 100vh;
	display: flex;
	justify-content: center;

}
.game-board{
	width: 800px;
	height: 800px;
	background-color: brown;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 12px;
	padding: 12px;


}
.card{
	background-color: bisque;
	border-radius: 5px;
	transition: all 0.1s linear;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
}
.unplayed:hover{
	transform: scale(1.05);
	transition: all 0.1s linear;
	cursor: pointer;
}


.card1{
	background-color: blue;
	background-image: url(images/apple.png);
}
.card2{
	background-color: green;
	background-image: url(images/banana.png);
}
.card3{
	background-color: red;
	background-image: url(images/carrot.png);
}
.card4{
	background-color: hotpink;
	background-image: url(images/grapes.png);
}
.card5{
	background-color: yellow;
	background-image: url(images/kiwi.png);
}
.card6{
	background-color: aqua;
	background-image: url(images/orange.png);
}
.card7{
	background-color: white;
	background-image: url(images/strawberry.png);
}
.card8{
	background-color: darkviolet;
	background-image: url(images/apple.png);
}
