body{
  width: 100%;
  height: 100vh;
	display: flex;
	align-items: center;
	flex-flow: column;
	margin: 0;
}
*{
	font-family: 	Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 25px;
}
.game-board{
	width: 1000px;
	height: 800px;
	background-color: brown;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 12px;
	padding: 12px;
}
.controllers{
	height: 100px;
	width: 1024px;
	background-color: brown;
	display: grid;
	grid-template-rows: 12px 1fr 12px;
	grid-template-columns: 12px 1fr 2fr 1fr 12px;
}
.card{
	background-color: bisque;
	border-radius: 5px;
	transition: all 0.1s linear;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
}
.animation:hover{
	transform: scale(1.05);
	transition: all 0.1s linear;
	cursor: pointer;
}
.start{
	color: white;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	background-image: url('images/boromir.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.start div{
	font-size: 10vh;
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
.start button{
	width: 10vw;
	height: 7vh;
	font-size: 5vh;
}
.restart{
	grid-row: 2;
	grid-column: 2;
}
.timer{
	grid-row: 2;
	grid-column: 4;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hide-start{
	display:none;
}
.end-screen{
	display: none;
	position: absolute;
	opacity: 0.7;
	color: white;
	background-color: black;
	width: 100vw;
	height: 100vh;
	text-align: center;

}
.winner{
	display: grid;
	justify-content: center;
	align-items: center;
}
.timer{

}
/* .chosen{
	transform: rotateY(180deg);
	transition: all .3s ease;
} */

.card1{
	background-image: url(images/wonka.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.card2{
	background-image: url(images/eyeing.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.card3{
	background-image: url(images/girlfriend.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.card4{
	background-image: url(images/good-guy-greg.png);
	background-size:cover;
	background-repeat: no-repeat;
}
.card5{
	background-image: url(images/grandma.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.card6{
	background-image: url(images/great.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.card7{
	background-image: url(images/roll-safe.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.card8{
	background-image: url(images/scumbag-steve.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.card9{
	background-image: url(images/success-kid.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.card10{
	background-image: url(images/bad-luck-brian.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
